
@media only screen and (min-device-width: 200px) and (max-device-width:550px) {
    .ReactModal__Content{
    width:100%!important;
}
.pShip{
    margin:0!important;
    font-size:14px!important;
}
}

