
.jobTitleHeader,.locationHeader,.categoryHeader{
    border-right:2px solid red!important;
}
.searchHeader{
    background: rgba(255, 255, 254, 0.14)!important;
    padding: 20px!important;
}
.headerMainSection{
    background-image: url('https://i.ibb.co/cNPgg0m/background-Image.jpg');

}

@media only screen and (min-device-width: 992px) and (max-device-width:2000px) {
    .cardJob{
        width:46%;
        margin:2%
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width:991px) {

}
