.cvcStyle{
    width:70px!important;
    padding-left:1rem!important;
}
.expStyle{
    width:110px!important;
    padding-left:2rem!important;
}
.cardNumberStyle{
    width:230px!important;
    padding-left:2rem!important;
}